.App {
  display:flex;
  justify-content: center;
  align-items: center;
  width:80%;
  margin-top: 100px;
  height: 20vh;
}

.input {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 100px;
  height: 10%;
}

 .number {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 100px;
  height: 10%;
}
.button {
  display: flex;
  justify-content: space-around;
}