* {
  background-color: blue;
  margin:5%;
  
  box-sizing: border-box;
}
.App {
  display:flex;
  align-items: center;
  background-color: black;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.App-container {
  background-color: black;
  align-items: center;
  color: white;
  width: 100%;
}

.title {
  background-color: black;
  
}

.input {
  background-color: white;
}

.button {
  background-color: white;
  color: black;
}

.numbers {
  background-color: black;
  color: white;
}

